.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
.tl {
  text-align: left;
}
.vc {
  vertical-align: middle;
}
/*浮动*/
.fl {
  float: left;
}
.fr {
  float: right;
}
/* 行内、块级 */
.block {
  display: block;
}
.inline {
  display: inline-block;
}
.none {
  display: none;
}
/* 定位 */
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fix {
  position: fixed;
}
/* 圆角 */
.radius0 {
  border-radius: 0;
}
.radius3 {
  border-radius: 3px;
}
.radius4 {
  border-radius: 4px;
}
.radius5 {
  border-radius: 5px;
}
.radius6 {
  border-radius: 6px;
}
.radius10 {
  border-radius: 10px;
}
.radius20 {
  border-radius: 20px;
}
.radius50 {
  border-radius: 50%;
}
/* 宽度 */
.wid100 {
  width: 100%;
}
.wid50 {
  width: 50%;
}
.wid40 {
  width: 40%;
}
.wid30 {
  width: 30%;
}
.wid20 {
  width: 20%;
}
.wid15 {
  width: 15%;
}
.wid10 {
  width: 10%;
}
.wid8 {
  width: 8%;
}
.wid5 {
  width: 5%;
}
/* 高度 */
.higt100 {
  height: 100%;
}
/* 边线  */
.b-none {
  border: 0;
}
.b-b-none {
  border-bottom: 0;
}
.b-l-none {
  border-left: 0;
}
.b-r-none {
  border-right: 0;
}
.b-all-c-t {
  border-color: transparent;
}
.b-all-w8 {
  border-width: 8px;
}
.b-all-w7 {
  border-width: 7px;
}
.b-all-t0 {
  border-top-width: 0;
}
.b-all-s-s {
  border-style: solid;
}
.flex-l {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.flex {
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  -o-box-flex: 1;
  flex: 1;
}
/* 一行显示 */
.row-shows {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  word-break: keep-all;
}
.txt-ln1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
/*两行文字，多余超出省略*/
.txt-ln2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
/*三行文字，多余超出省略*/
.txt-ln3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
/*四行文字，多余超出省略*/
.txt-ln4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
/*五行文字，多余超出省略*/
.txt-ln5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
/* 字体粗细 */
.normal {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.fw300 {
  font-weight: 300;
}
.opc8 {
  opacity: .8;
}
.opc1 {
  opacity: 1;
}
/* 文字加线 */
.underline {
  text-decoration: underline;
}
/*去掉li的点*/
li {
  list-style-type: none;
}
/*鼠标手势*/
.cursor {
  cursor: pointer;
}
/* 溢出隐藏  */
.overflow {
  overflow: hidden;
}
.nowrap {
  white-space: nowrap;
}
.word {
  word-break: keep-all;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  height: 0;
  font-size: 0;
  content: "";
  clear: both;
}
/*隐藏、显示(没有占位符)*/
.v-h {
  visibility: hidden;
}
.v-v {
  visibility: visible;
}
/* 去除填充 */
.pdNone {
  padding: 0 !important;
}
.x-img-box.pd-bottom10:before {
  padding-bottom: 10%;
}
.x-img-box.pd-bottom20:before {
  padding-bottom: 20%;
}
.x-img-box.pd-bottom30:before {
  padding-bottom: 40%;
}
.x-img-box.pd-bottom35:before {
  padding-bottom: 35%;
}
.x-img-box.pd-bottom40:before {
  padding-bottom: 40%;
}
.x-img-box.pd-bottom50:before {
  padding-bottom: 50%;
}
.x-img-box.pd-bottom60:before {
  padding-bottom: 60%;
}
.x-img-box.pd-bottom70:before {
  padding-bottom: 70%;
}
.x-img-box.pd-bottom50:before {
  padding-bottom: 80%;
}
.x-img-box.pd-bottom60:before {
  padding-bottom: 90%;
}
.x-img-box.pd-bottom70:before {
  padding-bottom: 100%;
}
