/*(提示信息颜色)红色*/
/* 页面全局颜色 */
/* 白色 */
/*灰色*/
.sz14 {
  font-size: 1.4rem;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.bor-b-3 {
  border-bottom: 2px solid #dbdbdb !important;
}
/*2px*/
.bor-b-3-active {
  border-bottom: 2px solid #00cdff !important;
}
/*2px*/
.a-agreen {
  color: #00cdff;
}
#sign_banner {
  height: 648px;
  background: #a8c8fb;
}
#sign_banner .container {
  position: relative;
  height: 100%;
  background: url('/img/user/sign_banner.jpg');
}
#sign_banner .container #signbox {
  height: 460px;
  background: #fff;
  position: absolute;
  right: 10px;
  top: 50px;
  padding: 0 40px;
}
#sign_banner .container #signbox .change_login {
  overflow: hidden;
}
#sign_banner .container #signbox .change_login ul {
  overflow: hidden;
  margin: 25px 0 0 0;
}
#sign_banner .container #signbox .change_login ul li {
  float: left;
  text-align: center;
  border-bottom: 2px solid #dbdbdb !important;
  line-height: 44px;
  font-size: 20px;
}
#sign_banner .container #signbox .change_login ul li a {
  color: #dbdbdb;
}
#sign_banner .container #signbox .change_login ul .active {
  border-bottom: 2px solid #00cdff !important;
}
#sign_banner .container #signbox .change_login ul .active a {
  color: #00cdff;
}
#sign_banner .container #signbox .regContent {
  margin: 32px 0 0 0;
}
#sign_banner .container #signbox .regContent .regLine .item2 {
  margin-top: 2px;
  margin-bottom: 5px;
  height: 20px;
  line-height: 20px;
}
#sign_banner .container #signbox #entryBoxForm .regContent {
  margin: 32px 0 0 0;
}
#sign_banner .container #signbox #entryBoxForm .regContent .regLine .item2 {
  margin: 5px 0;
  height: 20px;
  line-height: 20px;
}
#sign_banner .container #signbox #entryBoxForm .regContent .setPassword {
  font-size: 1.4rem;
  margin-top: 10px;
}
#sign_banner .container #signbox #entryBoxForm .regContent .setPassword .rememberPW {
  float: left;
}
#sign_banner .container #signbox #entryBoxForm .regContent .setPassword .rememberPW input {
  float: left;
}
#sign_banner .container #signbox #entryBoxForm .regContent .setPassword .rememberPW label {
  float: left;
  margin-top: 10px;
  margin-left: 4px;
}
#sign_banner .container #signbox #entryBoxForm .regContent .setPassword .forgetPW {
  float: left;
  overflow: hidden;
  margin-top: 10px;
  height: 20px;
  line-height: 20px;
  text-align: right;
}
#sign_banner .container #signbox #entryBoxForm .regContent .setPassword .forgetPW a {
  color: #333333;
}
#sign_banner .container #signbox #codeLoginForm #validateCodeBox2 .item1 {
  overflow: hidden;
}
#sign_banner .container #signbox #codeLoginForm #validateCodeBox2 .item1 input {
  float: left;
}
#sign_banner .container #signbox #codeLoginForm #validateCodeBox2 .item1 button {
  float: right;
}
#sign_banner .container #signbox #registerBoxForm .passwordLevel {
  padding: 0 7px;
}
#sign_banner .container #signbox #registerBoxForm .passwordLevel .leavePiece {
  margin-top: 9px;
  width: 100%;
  height: 8px;
  border: 1px solid #dddddd;
}
#sign_banner .container #signbox #registerBoxForm .passwordLevel .leavePiece li {
  float: left;
  margin: 1%;
  width: 31%;
  height: 4px;
  background: #dddddd;
}
#sign_banner .container #signbox #registerBoxForm .passwordLevel .levelCode {
  width: 100%;
}
#sign_banner .container #signbox #registerBoxForm .passwordLevel .levelCode li {
  width: 33%;
  text-align: center;
  float: left;
  font-size: 1.4rem;
  color: #7d7d7d;
}
#sign_banner .container #signbox #registerBoxForm .agreement {
  margin-top: -10px;
}
#sign_banner .container #signbox #registerBoxForm .agreement label {
  margin-left: 5px;
  margin-top: 12px;
}
#sign_banner .container #signbox #registerBoxForm .agreement #agreeInfo {
  margin-top: 12px;
}
#sign_banner .container #signbox #registerBoxForm .agreement #agreeInfo label {
  margin: 0;
}
#sign_banner .container #signbox #registerBoxForm .phonecode {
  display: none;
  height: 170px;
  width: 60%;
  z-index: 1000;
  position: absolute;
  background: #fff;
  left: 20%;
  top: 22%;
}
#sign_banner .container #signbox #registerBoxForm .phonecode .headerline {
  text-indent: 10px;
  height: 29px;
  line-height: 29px;
  text-align: left;
  background: #e0e1e5;
  font-size: 12px;
  color: #525254;
}
#sign_banner .container #signbox #registerBoxForm .phonecode .headerline .closePopUpVc {
  width: 30px;
  height: 30px;
  float: right;
  cursor: pointer;
}
#sign_banner .container #signbox #registerBoxForm .phonecode .validateContant {
  margin-top: 30px;
  padding: 0 20px;
}
#sign_banner .container #signbox #registerBoxForm .phonecode .validateContant .overflow input {
  width: 40%;
}
#sign_banner .container #signbox #registerBoxForm .phonecode .validateContant .overflow img {
  width: 40%;
  height: 34px;
  border-radius: 3px;
  border: 1px solid #d2d2d2;
  margin: 0 7px;
}
#sign_banner .container #signbox #registerBoxForm .phonecode .validateContant .refreshVC {
  display: inline-block;
  margin-top: 7px;
  width: 21px;
  height: 18px;
  cursor: pointer;
}
#sign_banner .container #signbox #registerBoxForm .phonecode .validateContant .refreshVC img {
  width: 100%;
  height: 100%;
  border: none;
  margin: 0;
}
#sign_banner .container #signbox .register_success {
  width: 100%;
  margin-top: 32px;
  padding: 0 40px;
  display: none;
}
#sign_banner .container #signbox .register_success img {
  display: block;
  margin: 20px auto;
}
#sign_banner .container #signbox .register_success .user_info {
  line-height: 36px;
  font-size: 14px;
  text-align: center;
  color: #828282;
}
#sign_banner .container #signbox .register_success .entry_a {
  line-height: 40px;
  text-align: center;
}
#sign_banner .container #signbox .register_success .entry_a a {
  color: #e94d4e;
  font-size: 18px;
}
#sign_banner .container #signbox .register_success .auto_entry {
  line-height: 52px;
  font-size: 12px;
  color: #c4c4c4;
  text-align: center;
}
#sign_banner .container #signbox .phonecode_box {
  display: none;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  left: 0;
  top: 0;
}
@media (min-width: 320px) and (max-width: 479px) {
  .signHtml {
    height: 100%;
  }
  .signHtml #header {
    display: none;
  }
  .signHtml #footer {
    display: none;
  }
  .signHtml .container {
    background-color: #fff !important;
    background-image: none !important;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* 手机端 */
}
@media (min-width: 769px) and (max-width: 1000px) {
  /* 手机端 */
}
