<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8" />
		<!--basepath start-->
		<base id="bpid" href="/" target="_blank" />
		<script type="text/javascript">
			window['fontBaseUrl'] = '/'
		</script>
		<script type="text/javascript" src="/cwsproject4/js/basepath.js"></script>
		<!--basepath end-->
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<title>云站业务-待开通云站</title>
		<!-- build:css ctrl/bootstrap/css/comm.lib.css -->
		<link rel="stylesheet" href="ctrl/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="ctrl/bootstrap/css/bootstrap.offcanvas.min.css"/>
		<link rel="stylesheet" href="ctrl/animate.min.css" />
		<!-- endbuild -->
		<link rel="stylesheet" href="ctrl/font-awesome-4.7.0/css/font-awesome.min.css">
		
		<!--前台页面样式-->
		<!-- build:css css/user.comm.css -->
		<link rel="stylesheet" href="css/base.css" /><!--全局基础样式-->
		<link rel="stylesheet" href="css/index.css" /><!--前台页面样式-->
		<link rel="stylesheet" href="css/top.css" /><!--top 样式-->
		<link rel="stylesheet" href="css/user.css" /><!--用户中心样式-->
		<!-- endbuild -->
		
		
		
		<link rel="stylesheet" href="css/table.css" />
		<style>
			.wid-zj{width:30%!important;}
			.wid-time{width:70%!important;}
			.wid-xq{width:50%!important;}
		</style>
		<!--用户中心-->

		<!--[if lt IE 9]>
　		<script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
	</head>

	<body class="userNav">
		<input type="hidden" id="leftstatu" value="云站业务" />
		<input type="hidden" id="leftstatus" value="待开通云站" />
		<!--banner部分 start-->
		<!--banner部分 end-->
        <!--手机内页头部-->
		<div class="wapTop">
			<div class="row">
				<div class="col-md-12 col-sm-12">
					<span class="iconfont Back fl">&#xe66e;</span>
					<span class="leftstatus-mobile fz15">待开通云站</span>
				</div>
			</div>
		</div><!--手机内页头部end-->
		<!--内容部分 start-->
		<!--right start-->
		<div class="" id="webPend" v-cloak>
				
				<!--table start-->
				<div class="table">
					<table class="table table-bordered table-hover table-condensed tab-ts">
						<thead>
							<tr>
								<th class="tc wid6">
									<div class="txt-ln1">序号</div>
								</th>
								<th>
									<div class="l-col tc">产品名称</div>
									<div class="r-col tc">公司名称</div>
								</th>
								<th>
									<!--主机名-->
									<div class="l-col tc">主机名</div>
									<div class="r-col tc">当前状态</div>
								</th>
								<th class="tc">
									<div class="l-col">提交时间</div>
									<div class="r-col">结束时间</div>
								</th>
								<!--<th class="wid10">
									当前状态
								</th>-->
								<th class="wid19 tc">
									<div class="l-col">操作</div>
									<div class="r-col">详情</div>
								</th>

							</tr>
						</thead>
						<tbody>
							<tr v-for='(item, index) in ftpList' :id="item.id" class="tc">
								<td class="tc">
									<!--序号-->
									<div class="">{{index+ 1}}</div>
								</td>
								<td>
									<!--产品名称  公司名称-->
									<div class="l-col one-line">标准</div>
									<div class="r-col one-line tl">{{item.companyName}}</div>
								</td>
								<td>
									<div class="l-col one-line tl">
										{{item['domain_addr']}}
									</div>
									
									<div class="r-col one-line">
										<span v-if="item.status == 100">FTP申请中</span>
										<span v-if="item.status == 200">FTP已开通</span>
										<span class="blue-active" v-if="item.status == 250">复制中</span>
										<span v-if="item.status == 300">复制成功</span>
										<span v-if="item.status == 400">重启Nginx</span>
									</div>
								</td>
								<td>
									<!--主机名  提交时间-->
									<div class="l-col one-line">{{ getTime(new Date(item.insert_time)) }}</div>
									<div class="r-col one-line">{{ item.act_time && getTime(new Date(item.act_time))}}</div>
								</td>
								<!--<td>-->
									<!--结束时间 状态-->
									<!--<div class="one-line">
										<span v-if="item.status == 100">FTP申请中</span>
										<span v-if="item.status == 200">FTP已开通</span>
										<span class="blue-active" v-if="item.status == 250">复制中</span>
										<span v-if="item.status == 300">复制成功</span>
										<span v-if="item.status == 400">重启Nginx</span>
									</div>-->
								<!--</td>-->
								<td class="opr" :data-id="item.id" class="tc">
									<!--操作 详情-->
									<div class="l-col tc">
										<a class="a-default openFTP" v-if="item.status == 100" :data-id="item.id">开通FTP</a>
										<a class="a-default" v-if="item.status == 200" @click="copyTemp(item.id, item.cid)">复制模板</a>
										<a class="a-default" v-if="item.status == 300" @click="restartNginx(item.id, item.cid)">重启Nginx</a>
										<a class="a-default" v-if="item.status == 250">已复制</a>
									</div>
									<div class="r-col" :data-id="item.id">
										<a class="a-default searchFTP" :data-id="item.id">查看</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<!--暂无数据   start-->
					<div class="no-data" v-if="noData">
						结果数据0条
					</div>
					<!--暂无数据   end-->
				</div>
				<!--table end-->

				<!-- 模态框（Modal）详情操作-->
				<!--new start-->
				<!--<div class="modal fade overflow" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
					<div class="md-modal md-effect-1" id="myModal">
						<div class="md-content">
							<h3>详情<i class="iconfont pull-right md-close" data-dismiss="modal">&#xe619;</i></h3>
							<!--nr start-->
							<div>
								<!--中间内容   start-->
								<div class="form-center">
									<form class="form-horizontal">
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-4 col-xs-4 control-label">公司名称:</label>
											<div class="col-sm-8 col-xs-8 pl0">
												<span>{{getFtpInfo.companyName}}</span>
												<!--<input type="text" class="form-control">-->
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label">绑定域名:</label>
											<div class="col-sm-8 col-xs-8 pl0">
												<span>{{bindIP}}</span>
												<!--<input type="text" class="form-control">-->
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label">开通年限:</label>
											<div class="col-sm-8 col-xs-8 pl0">
												<span>{{getFtpInfo.year}}年</span>
												<!--<input type="text" class="form-control">-->
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label">主机地址:</label>
											<div class="col-sm-8 col-xs-8 pl0">
												<span>{{getFtpInfo.ip}}</span>
												<!--<input type="text" class="form-control">-->
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label">内网ip:</label>
											<div class="col-sm-8 col-xs-8 pl0">
												<span>{{getFtpInfo['intranet_ip']}}</span>
												<!--<input type="text" class="form-control">-->
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label">主机账号:</label><!--主机管理账号-->
											<div class="col-sm-8 col-xs-8 pl0">
												<span>{{getFtpInfo['account']}}</span>
												<!--<input type="text" class="form-control">-->
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label">主机密码:</label><!--主机管理密码-->
											<div class="col-sm-8 col-xs-8 pl0">
												<span>{{getFtpInfo['password']}}</span>
												<!--<input type="text" class="form-control">-->
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label">端口号:</label>
											<div class="col-sm-8 col-xs-8 pl0">
												<span>{{getFtpInfo['port_num']}}</span>
												<!--<input type="text" class="form-control">-->
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label">测试域名:</label>
											<div class="col-sm-8 col-xs-8 pl0">
												<span>{{getFtpInfo['domain']&&getFtpInfo['domain']}}</span>
												<!--<input type="text" class="form-control">-->
											</div>
										</div>

									</form>
								</div>
								<!--中间内容   end-->
								<div class="tc btn-box">
									<input class="btn btn-default md-close" type="submit" value="取消">
									<!--<input class="btn btn-default md-close" type="submit" value="确认">-->
								</div>

							</div>
							<!--nr end-->
						</div>
					</div>
				<!--</div>-->
				<!--new end-->

				<!--莫泰框   开通FTP空间操作-->

				<!--new start-->
				<!--<div class="modal fade overflow" id="myModalOpe" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">-->
					<div class="md-modal md-effect-1" id="myModalOpe">
						<div class="md-content">
							<h3>开通FTP空间<i class="iconfont pull-right md-close" data-dismiss="modal">&#xe619;</i></h3>
							<!--nr start-->
							<div>
								<!--中间内容   start-->
								<div class="form-center" style="padding-right:20px;">
									<form class="form-horizontal">
										<div class="form-group">
											<label for="inputEmail3" class="col-sm-4 col-xs-4 control-label">公司名称:</label>
											<div class="col-sm-8 col-xs-8">
												<span>{{getFtpInfo.companyName}}</span>
												<!--<input type="text" class="form-control">-->
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label">绑定域名:</label>
											<div class="col-sm-8 col-xs-8">
												<span>{{bindIP}}</span>
												<!--<input type="text" class="form-control">-->
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label">开通年限:</label>
											<div class="col-sm-8 col-xs-8">
												<span>{{getFtpInfo.year}}</span>
												<!--<input type="text" class="form-control">-->
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label"><span class="col-danger">*</span>主机地址:</label>
											<div class="col-sm-8 col-xs-8">
												<input type="text" class="form-control" v-model="getFtpInfo.ip">
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label">内网ip:</label>
											<div class="col-sm-8 col-xs-8">
												<input type="text" class="form-control" v-model="getFtpInfo['intranet_ip']">
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label"><span class="col-danger">*</span>主机账号:</label><!--主机管理账号-->
											<div class="col-sm-8 col-xs-8">
												<input type="text" class="form-control" v-model="getFtpInfo.account">
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label">主机密码:</label><!--主机管理密码-->
											<div class="col-sm-8 col-xs-8">
												<input type="text" class="form-control" v-model="getFtpInfo.password">
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label">端口号:</label>
											<div class="col-sm-8 col-xs-8">
												<input type="text" class="form-control" v-model="getFtpInfo['port_num']">
											</div>
										</div>

										<div class="form-group">
											<label for="inputPassword3" class="col-sm-4 col-xs-4 control-label">测试域名:</label>
											<div class="col-sm-8 col-xs-8">
												<input type="text" class="form-control" v-model="getFtpInfo.domain">
											</div>
										</div>

									</form>
								</div>
								<!--中间内容   end-->
								<div class="tc btn-box">
									<input class="btn btn-default md-close"  :id="openId" type="submit" value="提交更改" @click="submitFtp">
									<input class="btn btn-default md-close"  type="submit" value="取消">
								</div>

							</div>
							<!--nr end-->
						</div>
					</div>
				<!--</div>-->
				<!--end start-->
				 <!--翻页-->
			    <div class="PageF row" v-if="totalPages>=1">
					<div class="paTotle col-md-3 col-sm-3">
					</div>
					<div class="flip col-md-9 col-sm-9">
						<div class="page-number fr">
							<ul>
								<li  @click="subPage('grad')"><i class="iconfont">&#xe6e8;</i></li> 
								<li  @click="subPage('son')"><i class="iconfont">&#xe758;</i></li> 
								<li class="li-3">
									<p>{{ currentpage }}/{{ totalPages }}</p> 
									<input type="text" class="currentpage" v-model="jumppage"> 
										<p @click="changeCurrentPage" :value="jumppage"  value="1" style="cursor: pointer;">go</p>
								</li> 
								<li  @click="addPage('son')"><i class="iconfont">&#xe759;</i></li> 
								<li  @click="addPage('grad')"><i class="iconfont">&#xe6f4;</i></li>
							</ul>
						</div>
						<div class="filp-x fr">
				    		每页显示行
		    		    	<select class="" @change="selcValue($event)" :value="pagesize">
		    		    		<option v-for="lines in linesPerPage">
		    		    			{{ lines }}
		    		    		</option>
		    		    	</select>
						</div> 
					</div>
				</div>
			    <!--翻页结束-->
			</div>
		<!--right end-->
		<!--important start-->
		<div class="x-tips" ><div class="x-tips-box"><p>页面正在加载中！</p></div></div>
		<!--公共类库-->
		<script type="text/javascript" src="dist/js/base.min.js"></script>
		<script type="text/javascript" src="js/comm/jquery.validate.min.js"></script>
		<!--个人公共-->
		<script type="text/javascript" src="js/comm/comm.js"></script>
		<!-- build:js js/user.comm.js -->
		<script type="text/javascript" src="js/api.js"></script>
		<script type="text/javascript" src="js/common.js" ></script><!--全局基础效果-->
		<script type="text/javascript" src="js/cwspopup.js"></script><!--统一弹窗提示-->
		<script type="text/javascript" src="js/validation.js"></script>
		<!-- endbuild-->
		<!--页面独有-->
		<script type="text/javascript" src="js/user/webBusiness/webPend.js"></script>
		<!--本页面加载数据部分-->
		
		 <script type="text/javascript">
			var a=isSignIn();
        	if(a==null){
        		 window.top.location.href = fontBaseUrl+'user/sign.html';
        	}
        </script>
		<script type="text/javascript">
				$('.md-close').on('click', function() {
					$(this).parents(".md-modal").toggleCommModal('close');
				});
		</script>
	</body>
</html>