<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!--basepath start-->
    <base id="bpid" href="/" target="_blank" />
    <script type="text/javascript">
        window['fontBaseUrl'] = '/'
    </script>
    <script type="text/javascript" src="/cwsproject4/js/basepath.js"></script>
    <!--basepath end-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>我的服务-交易记录</title>
    
    <link rel="stylesheet" href="ctrl/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="ctrl/bootstrap/css/bootstrap.offcanvas.min.css"/>
    <link rel="stylesheet" href="ctrl/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="ctrl/bootstrap/css/bootstrap-datetimepicker.css" />

    <!-- build:css css/user.comm.css -->
	<link rel="stylesheet" href="css/base.css" /><!--全局基础样式-->
	<link rel="stylesheet" href="css/index.css" /><!--前台页面样式-->
    <link rel="stylesheet" href="css/top.css" /><!--top 样式-->
    <link rel="stylesheet" href="css/user.css" />
    <!-- endbuild -->
    
    <link rel="stylesheet" href="css/form-common.css">
    <link rel="stylesheet" href="css/table.css" />
    
    
    <!--用户中心-->
    <!--用户中心样式-->
    <!--bootstrap 兼容ie8-->
    <!--[if lt IE 9]>
	　		<script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	        <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.js"></script>
	    <![endif]-->
    <!--bootstrap 兼容ie8-->
</head>

<body class="userNav">
    <input type="hidden" id="leftstatu" value="我的服务" />
    <input type="hidden" id="leftstatus" value="交易记录" />
 	<!--手机内页头部-->
	<div class="wapTop">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<span class="iconfont Back fl">&#xe66e;</span>
				<span class="leftstatus-mobile fz15">交易记录</span>
			</div>
		</div>
	</div><!--手机内页头部end-->
    <!--right start-->
    <div class="" id="tsRecord" v-cloak>

        <!--表头操作按钮   end-->
        <!--table start-->
        <form class="mb15 form-group-tra">
            <!--time start-->
            <div class="form-inline pdNone" style="float: left;margin-right: 15px;">
                <select name="" id="funding" class="form-control select-tra">
                    <option value="交易类型">交易类型</option>
                    <option value="收入">收入</option>
                    <option value="支出">支出</option>
                </select>
            </div>
            <div class="col-md-3 col-sm-3 form-inline">
                <div class="form-group ml-15">

                    <div id="dtp_input1" class='input-group date' >
                        <input type='text' class="form-control" id="d4311" placeholder="开始时间" readonly="readonly"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-3 col-sm-3 form-inline">
                <div class="form-group ml-15">
                	
                    <div  id="dtp_input2" class='input-group date dtp_input'>
                        <input type='text' class="form-control" id="d4312" placeholder="结束时间" readonly="readonly"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    
                    
                </div>
            </div>
            <!--time end-->
            <!--查询   start-->
            <input class="btn btn-default btn-my" type="button" value="查询" onclick="tsRecord_vm.search()">
            <!--查询   end-->
        </form>
        <div class="table">
            <table class="table table-bordered table-hover table-condensed tab-ts">
                <thead>
                    <tr>
                        <!--<th class="tc th30">
                            <label>
                                <input type="checkbox" id="blankCheckbox" value="option1" aria-label="..." class="ck_all">
                            </label>
                        </th>-->
                        <th class="tc">
                            <!--流水号-->
                            <div class="">流水号</div>
                        </th>
                        <th class="wid40 tc">
                            <!--交易类型  交易日期-->
                            <div class="l-col">交易类型</div>
                            <div class="r-col">交易日期</div>
                        </th>
                        <th class="wid20 tc">
                            <!--金额  余额-->
                            <div class="l-col tc">金额(元)</div>
                            <div class="r-col tc">余额(元)</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in tradeList" class="tc">
                        <!--<td>
                            <label>
                                <input type="checkbox" id="" value="option1" aria-label="..." class="ck_one">
                            </label>
                        </td>-->
                        <td >
                            <!--流水号-->
                            <div class="one-line  tc" :title="item.serialno">{{item.serialno}}</div>
                        </td>
                        <td class="tc">
                            <!--交易类型 交易日期-->
                            <div class="l-col one-line">
                                <span v-if="item.status=1">收入</span>
                                <span v-else>支出</span>
                            </div>
                            <div class="r-col">{{item.create_time}}</div>
                        </td>
                        <td class="tc">
                            <!--金额 余额-->
                            <div class="l-col">{{new Number(item.opt_amount).toFixed(2)}}</div>
                            <div class="r-col">{{new Number(item.balance).toFixed(2)}}</div>
                        </td>
                    </tr>

                </tbody>
            </table>
			<!--暂无数据   start-->
			<div class="no-data" v-if="noData">
				结果数据0条
			</div>
			<!--暂无数据   end-->
        </div>

        <!--翻页-->
			    <div class="PageF row" v-if="totalPages>=1">
					<div class="paTotle col-md-3 col-sm-3">
					</div>
					<div class="flip col-md-9 col-sm-9">
						<div class="page-number fr">
							<ul>
								<li  @click="subPage('grad')"><i class="iconfont">&#xe6e8;</i></li> 
								<li  @click="subPage('son')"><i class="iconfont">&#xe758;</i></li> 
								<li class="li-3">
									<p>{{ currentpage }}/{{ totalPages }}</p> 
									<input type="text" class="currentpage" v-model="jumppage"> 
										<p @click="changeCurrentPage" :value="jumppage"  value="1" style="cursor: pointer;">go</p>
								</li> 
								<li  @click="addPage('son')"><i class="iconfont">&#xe759;</i></li> 
								<li  @click="addPage('grad')"><i class="iconfont">&#xe6f4;</i></li>
							</ul>
						</div>
						<div class="filp-x fr">
				    		每页显示行
		    		    	<select class="" @change="selcValue($event)" :value="pagesize">
		    		    		<option v-for="lines in linesPerPage">
		    		    			{{ lines }}
		    		    		</option>
		    		    	</select>
						</div> 
					</div>
				</div>
			    <!--翻页结束-->

        </dir>
	
        <!--right end-->
    </div>
    <!--right end-->
    <!--页面加载提示-->
	<div class="x-tips"><div class="x-tips-box"><p>页面正在加载中...</p></div></div>
    <!--公共类库-->
   <!-- build:js js/user.server-libs.js -->
   <script type="text/javascript" src="dist/js/base.min.js"></script>
   <script type="text/javascript" src="js/comm/jquery.validate.min.js"></script>
   <script type="text/javascript" src="/ctrl/bootstrap/js/bootstrap-datetimepicker.min.js"></script>  <!-- datapicker -->
   <script type="text/javascript" src="/ctrl/bootstrap/js/bootstrap-datetimepicker.zh-CN.js"></script>  <!-- datapicker -->
   <!-- endbuild-->
	<!--<script src="/ctrl/bootstrap/js/moment-with-locales.js"></script>-->  <!-- datapicker -->
    <script type="text/javascript" src="js/comm/comm.js"></script>
    
    
    <!--个人公共-->
	<!-- build:js js/user.comm.js -->
	<script type="text/javascript" src="js/api.js"></script>
	<script type="text/javascript" src="js/common.js" ></script><!--全局基础效果-->
	<script type="text/javascript" src="js/cwspopup.js"></script><!--统一弹窗提示-->
    <script type="text/javascript" src="js/validation.js"></script>
	<!-- endbuild-->
    
    <!--页面独有-->
    <script type="text/javascript" src="js/user/myServ/traRecord.js"></script>
    
	 <script type="text/javascript">
		var a=isSignIn();
    	if(a==null){
        		 window.top.location.href = fontBaseUrl+'user/sign.html';
    	}
    </script>
    <script type="text/javascript">
        $(function () {
//          $('#datetimepicker2').datetimepicker({
//              locale: 'ru'
//          });
//          $('#datetimepicker3').datetimepicker({
//              locale: 'ru'
//          });
            // 高级搜索
        });
        
        //.datetimepicker(options)初始化日期时间选择器;  
	    $('#dtp_input1').datetimepicker({  
	        language : 'zh-CN',  
	        format : 'yyyy-mm-dd hh:ii:ss', 
	        yearStart:2017,
//	        todayBtn : true,  
	        autoclose : true  
	    }).on('changeDate',function(ev){
			var starttime=$("#d4311").val();
			starttime=new Date(starttime);
			$("#dtp_input2").datetimepicker({
				 startDate:starttime
			});
			$("#dtp_input1").datetimepicker('hide');
		});  
	    $('#dtp_input2').datetimepicker({  
	        language : 'zh-CN',  
	        format : 'yyyy-mm-dd hh:ii:ss',  
	         yearStart:2017,
//	        todayBtn : true,  
	        autoclose : true  
	    }).on('changeDate',function(ev){
			 var starttime=$("#d4311").val();
			 var endtime=$("#d4312").val();
			 console.log(endtime);
//			 endtime=new Date(endtime);
			 $("#dtp_input1").datetimepicker('setEndDate',endtime);
			 $("#dtp_input2").datetimepicker('hide');  
    	});     
        
    </script>

</body>

</html>