<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<!--basepath start-->
    <base id="bpid" href="/" target="_blank"/><script type="text/javascript">window['fontBaseUrl']='/'</script> 
    <script type="text/javascript" src="../cwsproject4/js/basepath.js"></script>
	 <!--basepath end-->
	<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<title>内容管理-内容回收站</title>
	<!-- build:css ctrl/bootstrap/css/comm.lib.css -->
	<link rel="stylesheet" href="ctrl/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" href="ctrl/bootstrap/css/bootstrap.offcanvas.min.css"/>
	<link rel="stylesheet" href="ctrl/animate.min.css" /><!--前台页面样式-->
	<!-- endbuild-->

	<link rel="stylesheet" href="/ctrl/font-awesome-4.7.0/css/font-awesome.min.css"><!--字体图标-->

	<!-- build:css css/user.comm.css -->
	<link rel="stylesheet" href="css/base.css" /><!--全局基础样式-->
	<link rel="stylesheet" href="css/index.css" /><!--前台页面样式-->
	<link rel="stylesheet" href="css/top.css" /><!--top 样式-->
	<link rel="stylesheet" href="css/user.css" /><!--用户中心样式-->
	<!-- endbuild -->
	
	<link rel="stylesheet" href="css/table.css" />
  <link href="css/zTreeStyle.css"  rel="stylesheet">
	<link href="css/user/custom-tree.css"  rel="stylesheet">
</head>
<body class="userNav">
	<input type="hidden"  id="leftstatu" value="源码编辑"/>
	<!--banner部分 start-->	
	<!--banner部分 end-->
	<!--手机内页头部-->
	<div class="wapTop">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<span class="iconfont Back fl">&#xe66e;</span>
				<span class="leftstatus-mobile fz15">源码编辑</span>
			</div>
		</div>
	</div><!--手机内页头部end-->
	<!--内容部分 start-->
	<div class="" id="mgeCode" v-cloak>	
		<div class="table">
		<!--表头操作按钮   start-->
		<div class="tab-header clearfix">
			<div class="col-md-12 col-sm-12 ml-15">
				<div class="col-md-3 col-xs-3">
					<div class="row">

					</div>
				</div>
			</div>
			
			
		</div>
		<!--表头操作按钮   end-->
			<table class="table table-bordered table-hover table-condensed tab-ts">
				<thead>
					<tr>
						<th class="wid30 tc">
							<div class="l-col one-line tc">文件名</div>
							<div class="r-col one-line tc">文件类型</div>
							
						</th>
						<th class="wid40">
							<div class="l-col one-line tc">文件目录</div>
							<div class="r-col one-line tc">修改时间</div>
						</th>
						<th class="wid11 tc">
							操作
						</th>
					</tr>
				</thead>
				<tbody class="content-edit-box-bg ">
					<tr v-for="contentLine in contentLines">
						<th class="wid30 tc">
							<div class="l-col one-line tc">{{contentLine.name}}</div>
							<div class="r-col one-line tc">{{contentLine.type}}</div>
							
						</th>
						<th class="wid40">
							<div class="l-col one-line tc">{{contentLine.dir}}</div>
							<div class="r-col one-line tc"></div>
						</th>
						<th class="wid11 tc">
							<!--<span >修改</span>
							<span >还原</span>-->
							<a :data="contentLine.name" :data-path="contentLine.dir"  onclick="operate(1,this)">修改</a>
							<a :data="contentLine.name" :data-path="contentLine.dir"  onclick="operate(2,this)">还原</a>
							<a :data="contentLine.name" :data-path="contentLine.dir"  onclick="operate(3,this)">初始化</a>
						</th>
					</tr>
				</tbody>
			</table>
			<!--暂无数据   start-->
			<div class="no-data" v-if="noData">
				结果数据0条
			</div>
			<!--暂无数据   end-->
		       <!--翻页-->
			    <!--<div class="PageF row" v-if="totalPages>=1">
					<div class="paTotle col-md-3 col-sm-3">
					</div>
					<div class="flip col-md-9 col-sm-9">
						<div class="page-number fr">
							<ul>
								<li  @click="subPage('grad')"><i class="iconfont">&#xe6e8;</i></li> 
								<li  @click="subPage('son')"><i class="iconfont">&#xe758;</i></li> 
								<li class="li-3">
									<p>{{ currentpage }}/{{ totalPages }}</p> 
									<input type="text" class="currentpage" v-model="jumppage"> 
										<p @click="changeCurrentPage" :value="jumppage"  value="1" style="cursor: pointer;">go</p>
								</li> 
								<li  @click="addPage('son')"><i class="iconfont">&#xe759;</i></li> 
								<li  @click="addPage('grad')"><i class="iconfont">&#xe6f4;</i></li>
							</ul>
						</div>
						<div class="filp-x fr">
				    		每页显示行
		    		    	<select class="" @change="selcValue($event)" :value="pagesize">
		    		    		<option v-for="lines in linesPerPage">
		    		    			{{ lines }}
		    		    		</option>
		    		    	</select>
						</div> 
					</div>
				</div>-->
			    <!--翻页结束-->
		</div>	
	</div>
	
	<!--内容部分 end-->
	<script type="text/javascript" src="dist/js/base.min.js"></script>
	<script type="text/javascript" src="js/comm/jquery.ztree.all-3.5.min.js"  charset="utf-8"></script>  <!--z-Tree-->
	<script type="text/javascript" src="/js/comm/jquery.validate.min.js"charset="utf-8"></script>
	<!--个人公共-->
	<script type="text/javascript" src="js/comm/comm.js"></script>
	<!-- build:js js/user.comm.js -->
	<script type="text/javascript" src="js/api.js"></script>
	<script type="text/javascript" src="js/common.js" ></script><!--全局基础效果-->
	<script type="text/javascript" src="js/cwspopup.js"></script><!--统一弹窗提示-->
	<script type="text/javascript" src="js/validation.js"></script>
	<!-- endbuild-->
	
	<script type="text/javascript" src="js/user/colums.js" charset="utf-8"></script><!--自定义封装zTree方法-->
	<!--页面独有-->
	<script type="text/javascript" src="js/user/mgeCode.js"></script>
	<script type="text/javascript">
		var a=isSignIn();
    	if(a==null){
        		 window.top.location.href = fontBaseUrl+'user/sign.html';
    	}
    </script>
	
	<script type="text/javascript" >
		
		
	</script>
</body>
</html>


